:root {
	--primary-color: black;
	--secondary-color: #f5f2fe;
	--box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	background: #fffdfb;
}
h1,
h2,
h3 {
	text-align: center;
}

h1 {
	font-size: 96px;
	font-family: "Playfair Display", serif;
	font-weight: 700px;
	color: var(--primary-color);
}

h2 {
	font-size: 36px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: var(--primary-color);
}

h3 {
	font-size: 24px;
	font-family: var(--default-font-family);
	font-weight: 400px;
	line-height: 36px;
}

.about-me {
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}

.box {
	margin-top: 45px;
	background: var(--secondary-color);
}

.projects {
	text-align: center;
	font-family: var(--default-font-family);
	font-size: 18px;
	line-height: 27px;
	margin-top: 127px;
	margin-bottom: 70px;
	font-weight: 400px;
	text-shadow: var(--box-shadow);
}

.hero {
	background: rgb(246, 246, 246);
	padding: 140px 20px;
	text-align: center;
	box-shadow: var(--box-shadow);
	background-image: url("images/bg.jpg");
	background-size: cover;
}

.btn-branding {
	font-family: var(--default-font-family);
	margin-top: 49px;
	background: var(--primary-color);
	border-radius: 4px;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.homepage-link {
	color: var(--primary-color);
	text-align: center;
	display: block;
}

.about-paragraphs {
	display: flex;
	margin: 30px 0;
}

.about-paragraphs p {
	margin: 10px;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}

.about-app {
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: var(--default-font-family);
	font-weight: 400;
	color: #272142b2;
	font-size: 16px;
	margin-left: 60px;
	padding-bottom: 50px;
}

.link {
	border-radius: 4px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	font-weight: 500px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	margin-left: 60px;
}

a:hover {
	text-decoration: none;
}
.head {
	text-align: left;
	margin-top: 130px;
	font-family: var(--heading-font-family);
	font-size: 64px;
	margin-left: 60px;
	color: black;
}

.img-fluid {
	margin-top: 50px;
}
.navbar {
	margin-top: -50px;
	max-width: 100%;
}

.image {
	margin-bottom: 70px;
}

@media (max-width: 600px) {
	.link {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	.email-link {
		font-size: 20px;
	}
	.contactMe {
		margin-top: 10px;
		font-size: 20px;
	}

	.navigation-links a {
		font-size: 15px;
		padding: 12px;
	}
}

.heading {
	font-family: var(--heading-font-family);
	font-size: 64px;
	color: black;
	text-align: left;
}
.conteiner h3 {
	font-family: var(--default-font-family);
	font-size: 19px;
	text-align: left;
}
.conteiner {
	margin-left: 160px;
	margin-top: 120px;
	margin-bottom: 0px;
}
.conteiner p {
	color: #272142b2;
	text-align: left;
	margin-right: 50px;
	margin-bottom: 0px;
}

.image {
	width: 380px;
	box-shadow: var(--box-shadow);
}

.link-project {
	border-radius: 4px;
	padding: 15px 15px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	font-weight: 500px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	margin-left: 10px;
}

@media (max-width: 600px) {
	.heading {
		font-size: 32px;
		text-align: center;
	}
	.conteiner h3 {
		text-align: center;
		font-size: 16px;
	}
	.conteiner p {
		text-align: center;
	}
	.conteiner {
		margin-left: 15px;
	}
	.image {
		width: 250px;
		display: block;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 65px;
	}

	.link-project {
		margin-left: 105px;
	}
}
